<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: white;">
    <header>
        <%- include('../navbar/navcss'); %> 
        <%- include('../navbar/navjs'); %> 
        <%- include('../navbar/navbaar'); %> 
    </header>
    <section>
        <div>
            <%- include('../slide/slide'); %> 
            <br>
        </div>
</section>
<section>
  
<%- include('../slide/secaoP1') %> 

</section>
<br><br>
<section>
  <div id="about-area">
    <div class="container">
        <div class="row">
          <!-- <div class="col-12"> 
            <h3 class="main-title">Why should you accompany us?</h3>
          </div> -->
          <div class="col-md-6">
            <iframe src="https://giphy.com/embed/40Jl9Gl5qJY52" width="477" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/business-badblueprints-40Jl9Gl5qJY52"></a></p>          </div>
          <div class="col-md-6">
            <h3 class="about-title">Discover some of our innovation in the technology and marketing sector in which we operate.</h3>
            <p class="pclass">Our every move and thinking about the good use of your time</p>
            <p class="pclass">Everything that is good in the world of information, optimized and readapted so that you don't waste your time reading useless texts.</p>
            <p class="pclass">Articles about technology and marketing written by those who are really working in the field..</p>
            <p class="pclass">See more about our differentials:</p>
            <ul id="about-list">
              <li><i class="sfa-check"></i> Using a simple, direct and dynamic copywriter</li>
              <li><i class="sfa-check"></i> Intense research accompanied by big data</li>
              <li><i class="sfa-check"></i> Dynamic and interactive website in 98% of all requirements</li>
              <li><i class="sfa-check"></i> Compatible with all existing social media</li>
              <li><i class="sfa-check"></i> Didactics focused on approved techniques</li>
            </ul>
          </div>
        </div>
      </div>
  </div>

  
</section>

<br><br>

<section>
<br>
    <div style="text-align: center;">
        <figure style="width: fit-content;" class="figure">
          <img style="width: 255px; height: 195px;" 
             src="https://images.pexels.com/photos/1652340/pexels-photo-1652340.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" 
             alt="tentativa1">
            <figcaption style="width: 255px; height: 195px;" class="figure-caption text-end">Discover how far behind you are, not keeping up with the latest news.</figcaption>
          </figure>
          <figure class="figure">
            <img style="width: 255px; height: 195px;" 
            src="https://images.pexels.com/photos/802024/pexels-photo-802024.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" 
            alt="tentativa2">
            <figcaption style="width: 255px; height: 195px;" class="figure-caption text-end">How brands are losing their popularity to new Chinese brands..</figcaption>
          </figure>
          <figure class="figure">
            <img style="width: 255px; height: 195px;" 
            src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" 
            alt="tentativa3">
            <figcaption style="width: 255px;" class="figure-caption text-end">Find out what's making young people happier and happier.</figcaption>
          </figure>
          <figure class="figure">
            <img style="width: 255px; height: 195px;" 
            src="https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" 
            alt="tentativa3">
            <figcaption style="width: 255px;" class="figure-caption text-end">Work from home, and increasingly the best investment for large companies.</figcaption>
          </figure>
          </div>
        </div>
</section>
<footer class="rodape">
<%- include('../navbar/footer') %> 
</footer>
</body>
</html>


